{% extends 'blog/base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{message}}
</div>
{% endfor %}
{% endif %}
{% for post in posts %}
<div class="border p-3 mb-3">
    <img class="img-fluid rounded-circle border m-2" style="width: 70px; height:70px;"
        src="{{post.author.profile.image.url}}" alt="صورة الناشر">
    <span class="text-secondary">نشر في {{post.post_date|date:'d-m-Y'}}</span>
    <h3><a class="text-dark" href="{% url 'detail' post.id %}">{{post.title}}</a></h3>
    <p>{{post.content}}</p>
</div>
{% empty %}
<div class="border p-3 mb-3">
    <h3>لا يوجد تدوينات، إذا كان لديك حساب مسجل من قبل يمكنك <a href="{% url 'login' %}">تسجيل الدخول</a> والقيام بنشر
        أول تدوينة في الموقع.</h3>
</div>
{% endfor %}

{% include 'blog/pagination.html' with page=posts %}

{% endblock content %}