<div class="pt-3 mt-4 mb-5 text-center">
    {% if page.has_next %}
    <a class="btn btn-secondary bg-secondary" href="?page={{page.next_page_number}}">التالي</a>
    {% else %}
    <a class="btn btn-secondary bg-secondary disabled" href="#">التالي</a>
    {% endif %}

    <span class="pr-4 pl-4">صفحة {{page.number}} من {{page.paginator.num_pages}}</span>

    {% if page.has_previous %}
    <a class="btn btn-secondary bg-secondary" href="?page={{page.previous_page_number}}">السابق</a>
    {% else %}
    <a class="btn btn-secondary bg-secondary disabled" href="#">السابق</a>
    {% endif %}
</div>